<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>cs final project</title>
</head>
<body background="https://wallpapertag.com/wallpaper/full/e/b/4/534207-beautiful-super-cool-backgrounds-2560x1600.jpg">
  <p>Welcome to my final project</p>
  <style>
    p {
        text-align: center;
        color: black;
        background:gray;
        font-size:75px;
    }
  </style>
</body>
</html>