<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>signup</title>
  <link rel="stylesheet"
</head>
<body>

<div id="signup">
  <h2>signup</h2>
  <form id="signup-form">
    <p>
    <input type="text" id="username" name="username" placeholder="Username" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
    <input type="password" id="password" name="password" placeholder="password" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
    <input type="submit" id="signup" value="signup">
    </p>
  </form>
</div>
  
</body>
</html>
